#root {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	background-color: #333;
}

.App {
	width: 100%;
	height: 100%;
	background-color: #333;
}

div {
		box-sizing: border-box;
		font-family: "Josefin Sans";
	}

.App-header {
  background-color: pink;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.App-title {
	color: white;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	background-color: #ffd338;
  padding: 10px 0 10px 20px;
	margin: 0;
	height: 100%;
	flex-grow: 1;
	font-family: Chicle;
	letter-spacing: 3px;
	color: white;
	text-shadow:
		3px 3px 0 #333,
		-1px -1px 0 #333,
		1px -1px 0 #333,
		-1px 1px 0 #333,
		1px 1px 0 #333;
}

.list-toggle {
	width: 300px;
	background-color:  #333;
  padding: 10px 20px 10px 20px;
	margin: 0;
	color: #fff;
}

.sidebar {
	height: 100%;
	background-color: #333;
	color: #fff;
	text-align: left;
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.hidden {
	flex-basis: 0px;
}

.showing {
	flex-basis: 300px;
}

.list-sights {
	padding: 20px;
}

a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.map-container {
	flex-grow: 1;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #333;
}

.wrapper {
	width: 100% !important;
	height: 100% !important;
	display: flex;
}

.map {
	width: 100%;
	height: 100%;
}

ul {
  list-style: none;
	padding: 0;
}
